<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}

</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure><img src="images/ab.gif" alt="weather" class="img-fluid" title="weatherforecaste">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <p>ABOUT ME</p>
                        <h1>Hey! I <span class="text-clr">Sumitra sen.</span><br>Welcome to my WeatherForecast website.
                            Hope you like my app. This is a complete web developement project using HTML, CSS,
                            JAVASCRIPT, BOOTSTRAP4, REAL-TIME API, NODE JS, EXPRESS JS, HBS and created also complete
                            dynamic responsive website.
                        </h1>
                        <a href="/weather"><button>check now</button></a>

                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>